@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  scroll-behavior: smooth;
}

.wrapper {
  @apply max-w-6xl mx-auto px-4 py-8 md:py-14;
}

/* just to define colors in the case studies page */
.color-category-0 {
  color: orange;
  background: rgba(255, 166, 0, 0.148);
}
.color-caseStudy-0 {
  background: orange;
}
.color-category-1 {
  color: blue;
  background: rgba(0, 0, 255, 0.148);
}
.color-caseStudy-1 {
  background: blue;
}
.color-category-2 {
  color: rgb(105, 11, 219);
  background: rgba(105, 11, 219, 0.148);
}
.color-caseStudy-2 {
  background: rgb(105, 11, 219);
}
